<h1> Check this post </h1>

<h3>Blog Title</h3>
<ul>
<li><%= @post.title%></li>
<li><%= @post.content%></li>
<li><%= @post.likes%></li>
<li><%= @post.blogger_id%></li>
<li><%= @post.destination_id%></li>
</ul>